* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    height:1240px;
  }
  main{
    display: flex;
    align-items: stretch;
    height: 100%;
  }
  .imgenentrada{
    height: 100%;
    width: 70%;
   background-image: url(Imgs/pinos.jpg );
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }
  .formulario {
    height: 100%;
    width: 30%;
    background-color: #095e3b;
  }
  .formulariodentro{
  margin: 60%;
  padding: 10% ;
  margin-left: 20%;
  margin-right: 10%;
  border: solid 8px rgb(95, 134, 107);
  border-radius: 30%;
  color:rgb(163, 185, 170);
  font-size: 1.2rem;
}
  
 section {
    padding: 10px;
    height: 100%; 
  }

.formulariodentro input[type="text"],
.formulariodentro input[type="password"] {
    width: 100%;
    padding: 1%;
    font-size: 1.2rem;
}
.formulariodentro input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10%;
}
.formulariodentro input[type="submit"] {
    transform: scale(1.3);
    margin:5%;
}
#popwrap {
    position:  fixed;
    top: 0; left: 0;
    z-index: 999;
    width: 100vw; height: 100vh;
    background:  rgba(169, 224, 169, 0.486);
    display: flex;
    justify-content: center;
    align-items: center;
}
 
#popbox{
    position: relative;
    min-width: 520px ;
    background: white;
}
#popclose{
    position: absolute;
    top: 0; 
    right: 5px;
}
#poptitle, #poptext{
    margin: 0;
    padding: 10%;

}