.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    height: 100%;
    width: 90%;
}
.gallery .container {
    flex: 1 1 calc(33.333% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

main{
    display: flex;
    align-items: stretch;
    height: 100%;
  }
  header{
    background-color: rgb(67, 109, 67);
  }
  aside {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
}
select {
    margin: 10px 0;
}